#termo {
    display: block;
    
}

#termo h2{
    text-align: center;
    margin: 30px;
}

#termo p {
    width: 50%;
    text-align: justify;
    margin: auto;
}

#termo button {
    background-color: #F5B740;
    width: 30%;
    height: 50px;
    border-radius: 30px;
    margin: 30px;
    font-weight: bolder;
}