<div class="menu">
    <div class="menu-container">
        <div class="menu-content">
            <a routerLink="/"><div class="logo"></div></a>
            <input type="text" class="search" placeholder="Procure por uma ação">
            <div class="buttons">
                <button class="button">Quem somos</button>
                <a routerLink="/aprovarvoluntario"><button class="button">Criar Ação</button></a>
                <div class="right-menu">
                    <a href="#">Cadastro</a>
                    <br>
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
    </div>
  </div>