<section class="container">
    <div class="d-flex align-items-center">
        <h2 class="p-2 w-100">Lista de voluntários pendentes</h2>
        <button type="button" class="btn btn-primary btn-lg p-2 flex-shrink-1">Voltar</button>
    </div>
        
    <div>
        <div class="d-flex justify-content-between align-items-center  cartao" *ngFor="let solic of solicitacoes" >
            <div class="foto col-1">
                <!-- Sua imagem redonda aqui -->
            </div>
            <div class="info col-3">{{ solic.colaborador.user.first_name }}</div>
            <div class="info col-3">{{calcularIdade(solic.colaborador.data_nasc)}} anos</div>
            <div class="info col-3">{{ solic.colaborador.bairro }}</div>
            <div id="botao col-2">
                <button type="button" class="botao botao-aceitar" (click)="AceitarSolicitacao(solic.id, solic.acao.id, solic.colaborador.id)"></button>
                <button type="button" class="botao botao-recusar"></button>
            </div>
        </div>
    </div>
</section>


