article {
    text-align: center;
}

table {
    border-spacing: 0;
    margin: auto;
}
table tr {
    border: 1px solid #6d8ab3;
    border-radius: 5px;
    
}
table td {
    padding: .8em;
    
    background-color: #98C1FA;
    color: floralwhite;
}
table td img {
    height: 3em;
}