article {
    padding: 2em;
}
#contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*#acao-imagem {
    border: 1px solid grey;
    width: 50%;
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb7%2Faf%2Fee%2Fb7afee9ab6a721751946bd0fbd026bf0.jpg&f=1&nofb=1&ipt=01a7eca1c440903c175ee0124ebba8720dc0aaedb31705def06d010acafa6a3f&ipo=images);
    background-size: cover;
    background-repeat: no-repeat;
}*/
#acao-imagem {
    width: 45%;
    border: 1px solid gray;
    border-radius: .7em;
}
#card-direita-sup {
    width: 50%;
}
#acao-imagem img {
    height: 100%;
}
#people-card {
    padding: .3em;
    background-color: var(--branco);
    border-radius: .4em;
}
#people-card .text {
    color: var(--aux);
    margin-left: .3em;
    font-weight: 800;
    font-size: 1.3em;
}
#peoples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    border-radius: .4em;
}
.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: .4em;
    width: fit-content;
    margin: .3em;
}
.person img {
    height: 3em;
}
.persontext {
    padding: .3em;
    font-size: 1em;
    font-weight: 600;
    color: #696969;
}
#botao-voluntariar {
    border-radius: .3em;
    background-color: #00EB60;
    color: var(--branco);
    width: 100%;
    margin: .3em;
    margin-left: 0;
    padding: .6em;
    font-weight: 800;
    font-size: 1.5em;
}
#downblock {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
#texto-box {
    width: 60%;
}
#texto-box h1 {
    font-size: 2em;
    font-weight: 900;
    color: var(--aux);
}
#tags-box {
    display: flex;
    flex-direction: column;

    width: 30%;
    background-color: #585FEB;
    border-radius: 1em;
}
#tags-box h1 {
    color: var(--branco);
    margin: 1em auto;
    font-weight: 800;
}
.tema {
    color: var(--branco);
    margin: .4em auto;
    font-size: 1.3em;
    font-weight: 500;
}