*{
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--p1);
    height: 4em;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;

    display: flex;
    
    align-items: center;
    font-family: Roboto;
}

#area-util {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}

form input {
    width: 30em;
    height: 2em;
    border-radius: 10px;
    /*border: solid 2px lightgrey;*/
    border: none;
    color: #7c7c7c;
    font-weight: 700;
    font-family: roboto;
    padding-left: 1em;
    font-size: large;
    
}

.topbar-button {
    padding: .4em .6em;
    border-radius: .5em;

    color: var(--branco);
    font-weight: 700;
    font-size: 1.2em;
}

.logo {
    height: 40px;
}