.title {
    font-size: 1.1em;
    font-weight: 900;
    color: var(--aux);
    text-align: center;
    padding-bottom: 1em;
}

#termo-voluntariado {
    padding: 0em 6em;
    text-align: justify;
}

#buttom-space {
    margin: 2em 0;
}

.buttom1 {
    text-align: center;
    border-radius: .3em;
    background-color: #F5B740;
    width: 13em;
    margin: 1.5em auto;
    padding: .6em .2em;
    font-weight: 800;
    font-size: 1.5em;
}

span {
    color: #000;
}