{% extends 'base/main.html' %}
{% load static %}
{% block conteudo %}
<head>
    <link rel="stylesheet" href="{% static 'base/css/detalhe.css' %}">
</head>
<body>
    <article>
        <div id="contenido">
            <img src="{{acao.get_foto}}" id="acao-imagem" alt="Banner da ação">
            <div id="card-direita-sup">
                <div id="people-card">
                    <div class="text">
                        Pessoas que você conhece e são voluntárias nessa ação:
                    </div>

                    {% comment %} botão "quero ajudar" {% endcomment %}

                    <a href="{% url 'base:voluntariar' acao.id %}">
                        <div class="buttom1">
                            QUERO SER VOLUNTÁRIO
                        </div>
                    </a>
                    <div class="criador">
                        <p>Criado por: {{ acao.criador }}</p>
                        <p>X {{ acao.local }}</p>
                        <p>X {{ acao.inicio }}</p>
                    </div>
                    
                </div>

            </div>
            <div id="downblock">
                <div id="texto-box">
                    <h1>{{ acao.nome }}</h1>
                    <br>
                    <p> {{ acao.descricao }} </p>
                </div>

                <div id="tags-box">
                    <h1>Temas dessa ação:</h1>
                    <div class="tema">{{ acao.tema }}</div>
                </div>
            </div>
        </div>
    </article>
</body>
{% endblock conteudo %}