{% extends 'base/main.html' %}
{% load static %}
{% block conteudo %}
    <head>
        <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
    </head>

    <main>
        <article>
            <section id="cards">
                <div class="acao-card">
                    <a href="{% url 'detail' %}">detalhe</a>
                </div>
                <div class="acao-card">
                    
                </div>
                <div class="acao-card">
                </div>

                <div class="acao-card">
                    
                </div>
                <div class="acao-card">
                    
                </div>
                <div class="acao-card">
                    
                </div>
            </section>
        </article>
    </main>
{% endblock conteudo %}