{% extends 'base/main.html' %}
{% load static %}
{% block conteudo %}
    <head>
        <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
    </head>

    <main>
        <article>
            <h1 id="texto-1">AJUDE EM AÇÕES PERTO DE VOCÊ:</h1>
            <section id="cards">  
                {% for acao in lista_acao1 %}
                    <a href="{% url 'base:detalhes' acao.id %}">
                        <div class="acao-card">
                            <div class="card-foto" style="background: url({{acao.get_foto}}); background-size: cover;">
                                <div class="acao-tag">{{acao.tema}}</div>
                            </div>
                            <div class="card-texto">{{acao.nome}}</div>
                        </div>
                    </a>  

                    
                {% endfor %}

                
            </section>
            <h1 id="texto-2">AÇÕES MAIS PROCURADAS DA SEMANA:</h1>
            <section id="cards">
                {% for acao in lista_acao2 %}
                    <a href="{% url 'base:detalhes' acao.id %}">
                        <div class="acao-card">
                            <div class="card-foto" style="background: url({{acao.get_foto}}); background-size: cover;">
                                <div class="acao-tag">{{acao.tema}}</div>
                            </div>
                            <div class="card-texto">{{acao.nome}}</div>
                        </div>
                    </a>  

                    
                {% endfor %}
            </section>
        </article>
    </main>
{% endblock conteudo %}