{% load static %}
<head><link rel="stylesheet" href="{% static 'base/css/topbar.css' %}"></head>
<nav>
    <div id="area-util">
        <div class="logo">
            <span>logo</span>
        </div>
        <form action="{% url 'base:buscar_acao' %}">
            <input type="text" name="q" placeholder="busque ações aqui">
        </form>
        <div class="topbar-button">Quem&nbspsomos</div>
        <div class="topbar-button">Criar Ação</div>
        <div class="login">
            {% if user.is_authenticated %}
            <a href="/admin">
                <div>
                    {{ user.username }}
                </div>
            </a>
            
            {% else %}
            <a href="/admin">
                <div class="cadastrar">Cadastrar</div>
                <div class="entrar">Entrar</div>
            </a>
            {% endif %}
        </div>
    </div>
</nav>