{% load static %}
<head><link rel="stylesheet" href="{% static 'base/css/topbar.css' %}"></head>
<nav>
    <div id="area-util">
        <div>
            <span>
                <a href="{% url 'base:index' %}" alt="logo">
                    <img class="logo" src="{% static 'base/img/LogoQ.png' %}" />
                </a>
            </span>
        </div>
        <form action="{% url 'base:buscar_acao' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder=" busque ações aqui" name="busca"></input>
        </form>
        <div class="topbar-button">Quem&nbspsomos</div>
        <div class="topbar-button">Criar Ação</div>
        <div class="login">
            {% if user.is_authenticated %}
            <div>{{ user.username }}</div>
            {% else %}
            <div class="cadastrar">Cadastrar</div>
            <div class="entrar">Entrar</div>
            {% endif %}
        </div>
    </div>
</nav>