{% extends 'base/main.html' %}
{% load static %}
{% block conteudo %}
<head>
    <title>Voluntariar na ação</title>
    <link rel="stylesheet" href="{% static 'base/css/voluntariar.css' %}">
</head>
<body>
    <article>
        <div class="title">
            <h1>CONFIRMAÇÃO DE VOLUNTARIADO</h1>
        </div>
        <div id="termo-voluntariado">
            <p>
                Eu, {{ user.username }}, Confirmo o compartilhamento de alguns dos meus dados sensíveis com o(s) proprietário(s) dessa ação {{ acao.nome }}, bem com nome, contato, etc...
            </p>
            <br>
            <p>
                Aceito os termos presentes nesse Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, eaque ullam cumque quos deleniti corrupti quo distinctio culpa tenetur quas corporis accusamus est quibusdam quam pariatur voluptates fugiat! Quas, aliquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque quis suscipit, porro omnis veniam, ducimus vero quod natus perspiciatis ipsum deserunt dolorum. Soluta unde perferendis, corrupti aut culpa quam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, suscipit. Rerum dignissimos quasi sunt, maxime quo maiores quisquam amet reiciendis dolores excepturi. Vero, dignissimos illum. Nesciunt maiores id qui eveniet.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repudiandae, eum, veniam tenetur vel est, quia fugiat aliquam quae aspernatur totam velit consequuntur at magnam maxime unde tempora cupiditate voluptatem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minus eveniet, quas amet explicabo odit, vel facere nobis voluptatum sed molestias numquam nemo sunt praesentium. Reprehenderit iste distinctio atque ullam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci neque ut, aliquid et sequi quibusdam eveniet explicabo, sed natus cum laboriosam eaque ab! Hic itaque placeat esse quia. Dicta, aliquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, unde quod error dicta numquam quam vitae distinctio incidunt inventore hic ea porro, culpa, voluptas earum suscipit asperiores cum perferendis? Pariatur?
            </p>
        </div>
        
        {% comment %} <a href="{% url 'detalhes' acao.id %}"> {% endcomment %}
        <form method="post" action="{% url 'base:voluntariar_em_acao' acao_id=acao.id %}">
            {% csrf_token %}
            {% comment %} <div class="buttom1" onclick="enviarSolicitacao({{ acao.id }})"> {% endcomment %}
                <input type="submit" value="Inscrever-se na Ação">
            {% comment %} </div> {% endcomment %}
        </from>
        {% comment %} </a> {% endcomment %}

        
    </article>
</body>
{% endblock %}