<section class="container">
    <h2>Criar ação de voluntariado</h2>
    <form  #acaoForm="ngForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="exampleInputEmail1">
        </div>
        <div>
            <label for="exampleInputEmail1" class="form-label">Categoria</label>
            <select name="categoria" class="form-select" aria-label="Default select example">
                <option selected>Escolha um tema</option>
                <option value="1">Mutirão</option>
                <option value="2">Aula</option>
                <option value="3">Bazar</option>
              </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tema</label>
            <input type="text" name="tema" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Local</label>
            <input type="text" name="Local" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Início</label>
            <input type="text" name="inicio" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fim</label>
            <input type="text" name="fim" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição da ação</label>
            <textarea class="form-control" name="descricao" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</section>