<div id="container">
    <div class="card">
        <div class="foto">
            <!-- Sua imagem redonda aqui -->
        </div>
        <div class="info">Nome</div>
        <div class="info">Idade</div>
        <div class="info">Telefone</div>
        <div class="info">bairro</div>
        <div id="botao">
            <button type="button" class="botao botao-aceitar"></button>
            <button type="button" class="botao botao-recusar"></button>
        </div>
    </div>
    
    <div class="card">
        <div class="foto">
            <!-- Sua imagem redonda aqui -->
        </div>
        <div class="info">Nome</div>
        <div class="info">Idade</div>
        <div class="info">Telefone</div>
        <div class="info">bairro</div>
        <div id="botao">
            <button type="button" class="botao botao-aceitar"></button>
            <button type="button" class="botao botao-recusar"></button>
        </div>
    </div>

    <div class="card">
        <div class="foto">
            <!-- Sua imagem redonda aqui -->
        </div>
        <div class="info">Nome</div>
        <div class="info">Idade</div>
        <div class="info">Telefone</div>
        <div class="info">bairro</div>
        <div id="botao">
            <button type="button" class="botao botao-aceitar"></button>
            <button type="button" class="botao botao-recusar"></button>
        </div>
    </div>

    <div class="card">
        <div class="foto">
            <!-- Sua imagem redonda aqui -->
        </div>
        <div class="info">Nome</div>
        <div class="info">Idade</div>
        <div class="info">Telefone</div>
        <div class="info">bairro</div>
        <div id="botao">
            <button type="button" class="botao botao-aceitar"></button>
            <button type="button" class="botao botao-recusar"></button>
        </div>
    </div>
</div>
