<div class="menu">
  <div class="menu-container">
      <div class="menu-content">
          <div class="logo">Logo</div>
          <input type="text" class="search" placeholder="Procure por uma ação">
          <div class="buttons">
              <button class="button">Quem somos</button>
              <button class="button">Criar Ação</button>
              <div class="right-menu">
                  <a href="#">Cadastro</a>
                  <br>
                  <a href="#">Login</a>
              </div>
          </div>
      </div>
  </div>

</div>
<section id="corpo">
  <div class="banner"></div>
</section>
<section id="destaques">
  <h1>Ações em destaque</h1>
    <div class="destaques-container">
        <!-- Utilize o comando *ngFor para iterar sobre os itens da API -->
        <div *ngFor="let acao of acoes" class="acao-item">
            <div class="acao-imagem" [style.background-image]="'url(' + acao + ')'">imagem</div>
            <div class="acao-info">
                <div class="acao-tipo">{{ acao }} categoria</div>
                <div class="acao-inscritos">{{ acao }} Inscritos</div>
            </div>
        </div>
    </div>
</section>