body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.menu {
    background-color: #3F8CF5;
    padding: 10px;
}

.menu-container {
    max-width: 1080px; /* Define a largura máxima do conteúdo do menu */
    margin: 0 auto; /* Centraliza o conteúdo do menu na tela */
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    padding-left: 10px;
    color: white;
    font-size: 24px;
}

.search {
    width: 450px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}

.buttons {
    display: flex;
}

.button {
    background-color: #5CA0FF;
    width: 150px;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.right-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

section {
    width: 1080px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 400px;
    background-color: red; /* cor só pra divisão */
    
}

#destaques {
    max-width: 1080px;
    margin: 0 auto;
}

.destaques-container {
    display: flex;
    flex-wrap: wrap;
}

.acao-item {
    width: calc(33.33% - 20px); /* Define a largura desejada para cada item e margem */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.acao-imagem {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.acao-info {
    padding: 10px;
}

.acao-tipo {
    font-size: 18px;
    font-weight: bold;
}

.acao-inscritos {
    font-size: 16px;
    color: #555;
}
