<app-menu></app-menu>

<app-banner></app-banner>

<section id="destaques">
  <h1>Ações em destaque</h1>
    <div class="destaques-container">
        <!-- Utilize o comando *ngFor para iterar sobre os itens da API -->
        <div *ngFor="let acao of acoes" class="acao-item">
            <div class="acao-imagem" [style.background-image]="'url(' + acao + ')'">imagem</div>
            <div class="acao-info">
                <div class="acao-tipo">{{ acao }} categoria</div>
                <div class="acao-inscritos">{{ acao }} Inscritos</div>
            </div>
        </div>
    </div>
</section>