<div id="container">
    <div class="card" *ngFor="let colab of colaboradores" >
        <!-- *ngIf="!colab.aceito" -->
        <div class="foto">
            <!-- Sua imagem redonda aqui -->
        </div>
        <div class="info">{{ colab.nome }}</div>
        <div class="info">{{ colab.idade }}</div>
        <div class="info">{{ colab.bairro }}</div>
        <div id="botao">
            <button type="button" class="botao botao-aceitar" (click)="responderSolicitacao('ACEITO')"></button>
            <button type="button" class="botao botao-recusar" (click)="responderSolicitacao('REJEITADO')"></button>
        </div>
    </div>
</div>